<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4574454787-lmk58c9lj3pgj89ba1t3u09jcjqqln6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4574454787-lmk58c9lj3pgj89ba1t3u09jcjqqln6v</string>
	<key>API_KEY</key>
	<string>AIzaSyBUjqXslS6ofIFxMZYPmqhr5KVbHorsxSM</string>
	<key>GCM_SENDER_ID</key>
	<string>4574454787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dl.elaf</string>
	<key>PROJECT_ID</key>
	<string>elaf-sdc</string>
	<key>STORAGE_BUCKET</key>
	<string>elaf-sdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4574454787:ios:084b07aed268b552fe9a36</string>
	<key>DATABASE_URL</key>
	<string>https://elaf-sdc.firebaseio.com</string>
</dict>
</plist>
